[submodule "site/themes/hugo-identity-theme"]
	path = site/themes/hugo-identity-theme
	url = https://github.com/aerohub/hugo-identity-theme
[submodule "site/themes/hugo-uilite"]
	path = site/themes/hugo-uilite
	url = git@github.com:uicardioHQ/hugo-uilite.git
